certifi==2023.7.22
charset-normalizer==3.3.0
distlib==0.3.7
docutils==0.20.1
filelock==3.12.4
idna==3.4
Kivy==2.2.1
Kivy-examples==2.2.1
Kivy-Garden==0.1.5
numpy==1.26.1
opencv-python==4.8.1.78
Pillow==10.0.1
platformdirs==3.11.0
Pygments==2.16.1
pyperclip==1.8.2
requests==2.31.0
urllib3==2.0.6
virtualenv==20.24.5
