certifi==2023.7.22
charset-normalizer==3.3.0
distlib==0.3.7
docutils==0.20.1
filelock==3.12.4
idna==3.4
Kivy==2.2.1
Kivy-examples==2.2.1
Kivy-Garden==0.1.5
numpy==1.26.1
opencv-python==4.8.1.78
Pillow==10.0.1
platformdirs==3.11.0
plyer==2.1.0
progressbar2==4.2.0
pygame==2.5.2
Pygments==2.16.1
pyperclip==1.8.2
python-utils==3.8.1
requests==2.31.0
scipy==1.11.3
typing_extensions==4.8.0
urllib3==2.0.6
virtualenv==20.24.5
pyttsx3==2.90